# Exclude all .git-related files, but include .github
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other temporary files
*.tmp
*.bak
*.swp

# Ignore large CSV files
Data
.github
.env
.10 Academy - AIM - Week 2.docx
cspell.json
.devcontainer